<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <username>local-user</username>
            <password>Local@123</password>
            <id>central</id>
        </server>
        <server>
            <username>local-user</username>
            <password>Local@123</password>
            <id>snapshots</id>
        </server>
        <server>
            <username>local-user</username>
            <password>Local@123</password>
            <id>central-dev</id>
        </server>
        <server>
            <username>local-user</username>
            <password>Local@123</password>
            <id>snapshots-dev</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <id>maven-central</id>
                    <name>MavenCentral</name>
                    <url>https://repo1.maven.org/maven2/</url>
                </repository>
                <repository>
                    <id>redshift</id>
                    <url>http://redshift-maven-repository.s3-website-us-east-1.amazonaws.com/release</url>
                </repository>
                <repository>
                    <id>confluent</id>
                    <url>https://packages.confluent.io/maven/</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>MeeshoUtilities</name>
                    <url>https://jfrog-prd.meeshogcp.in/artifactory/MeeshoUtilities</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>MeeshoUtilities</name>
                    <url>https://jfrog-prd.meeshogcp.in/artifactory/MeeshoUtilities</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central-dev</id>
                    <name>MvnTest</name>
                    <url>https://jfrog-dev.meeshogcp.in/artifactory/MvnTest</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots-dev</id>
                    <name>MvnTest</name>
                    <url>https://jfrog-dev.meeshogcp.in/artifactory/MvnTest</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>MeeshoUtilities</name>
                    <url>https://jfrog-prd.meeshogcp.in/artifactory/MeeshoUtilities</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>MeeshoUtilities</name>
                    <url>https://jfrog-prd.meeshogcp.in/artifactory/MeeshoUtilities</url>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central-dev</id>
                    <name>MvnTest</name>
                    <url>https://jfrog-dev.meeshogcp.in/artifactory/MvnTest</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots-dev</id>
                    <name>MvnTest</name>
                    <url>https://jfrog-dev.meeshogcp.in/artifactory/MvnTest</url>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>